li{
    float: left;
}
h2{
    text-align: center;
    background-color: palevioletred;
    border:  2px solid brown;
}

h3{
    text-align:center ;
    background-color: greenyellow;
    border:  2px solid green;
}