<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<h1>Assignment No 1 Warning And Success Alert</h1>
    <h2>Warning Alert:This is a warning, you are in danger!</h2>
    <h3>Success Alert:You are so successful!</h3>
</div>  
<!-- string Interpolation - one way data binding-->
    <label>{{name}}</label>
    <p> Server with Id {{serverId}} is {{  getServerStatus()}}</p>
    <button [disabled]="!allowNewServer"(click)="onCreateServer()">Add Server</button>
<img [src]="imgUrl">
{{serverCreationStatus}}
<div>Two way Data Binding</div>
<div>
    <input type="text" [(ngModel)]="serverName">
</div>
{{serverName}}
<hr>
<hr>


<div class="box">
    <h1>Assignment No:2  Two Way Data Binding</h1>
    <label>User Name: <input type ="textbox" [(ngModel)]= "userName" required></label><br><br>
    <label> Enter User Name :  {{userName}}</label><br><br>
    <button  (click)="ClearFields()">Clear</button>
    <button type="button" class="btn btn-primary">Primary</button>

</div>
    

 
  


