<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <form class="form-control">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Full Name
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Name"></label>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"></label>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Message
            <input type="textarea" class="form-control" id="exampleFormControlInput1" placeholder="Write Message Here"></label>
          </div>

    </form>
    <!-- <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"></label>
      </div> -->
      <!-- <div class="grid text-center">
        <div class="g-col-6">.g-col-6
            <label for=""></label>
        </div>
        <div class="g-col-6">.g-col-6</div>
      
        <div class="g-col-6">.g-col-6</div>
        <div class="g-col-6">.g-col-6</div>
      </div> -->
      
</body>
</html>
