<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
   
    <div class="container text-center">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="table-active">
                    <th scope="row">No</th>
                    <th>Mentor Name</th>
                    <th>Qualification</th>
                    <th>Subject </th>
                    <th>Duration</th>
                </tr>

            </thead>
            <tbody>
                <tr class="table-active">
                    <td class="table-active">1</td>
                    <td>Gajanan Sir</td>
                    <td>BE Computer Science</td>
                    <td>HTML5,CSS3,JavaScript,Git & GitHub</td>
                    <td>2 Months</td>
                </tr>
                <tr class="table-active">
                    <td class="table-active">2</td>
                    <td>Dnyaneshwar Sir</td>
                    <td>BE Computer Science and Engineering</td>
                    <td>TypeScript and Angular Framework</td>
                    <td>1 Month</td>
                </tr>
                <tr class="table-active">
                    <td class="table-active">3</td>
                    <td>Chandan Sir</td>
                    <td>BE IT</td>
                    <td>Agile and JIRA Methodology</td>
                    <td>1 Week</td>
                </tr>
            </tbody>
        </table>
    </div>
     <!-- <app-ng-for></app-ng-for>  -->
<hr>
     <div class="products">
        <ng-container *ngIf="statusOnline">
            <div *ngFor="let proitem of products">
                {{proitem.name}}
            </div>
        </ng-container>
     </div>
    </body>
</html>