<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="page-area">
    <h2>Contact Us</h2>
    <p>Atlas 1031 Exchange has proudly served clients seeking I.R.C § 1031 counsel as Qualified Intermediaries with precision and excellence for over 18 years. We often personally meet with clients, and speak at educational events on “Tax Deferred Exchanges.”
    </p>
    <div class="row">
        <div class="col-md-6">
            <!-- card 1 start -->
            <app-servicecard1></app-servicecard1>
            <!-- card 1 ends -->
        </div>
        <div class="col-md-6">
            <!-- card 1 start -->
            <app-servicecard2></app-servicecard2>
            <!-- card 1 ends -->
        </div>
    </div>
</div>
</body>
</html>
