<p>servicecontact works!</p>
<div class="page-area">
    <h2>Contact Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
        Ut laoreet turpis ac purus varius luctus. <br />
        Nunc sit amet metus quis ligula sagittis faucibus ornare vel massa.
    </p>
    <div class="row">
        <div class="col-md-6">
            <!-- card 1 start -->
            <app-servicecard1></app-servicecard1>
            <!-- card 1 ends -->
        </div>
        <div class="col-md-6">
            <!-- card 1 start -->
            <app-servicecard2></app-servicecard2>
            <!-- card 1 ends -->
        </div>
    </div>
</div>