<div class="container">
    <div class="row justify-content-center">
        <div class="col-nd-6 text-left rounded py-5">
            <form [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()">
                <input type="text" name=" " id=" " formControlName="username" placeholder="Enter User Name">
                <input type="text" name=" " id=" " formControlName="email" placeholder="Enter Email address">
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>