<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>
    <h2>Web Technology</h2>
    <h3>HTML5</h3>
    <p>HTML stands for HyperText Markup language.It is used to design web pages using a markup language.
        HTML is the combination of HyperText and markup Language.Hypertext defines the link between the web pages.
        A markup language is used to define the text document within tag which defines the structure of web pages.
        HTML is a markup language that is used by the browser to manipulate text,images, and other content to display it
        in the required format.
    </p>
    <hr>
    <h3>CSS3</h3>
    <p> Cascading Style Sheets Level 3 (CSS3) is the iteration of the CSS standard used in the styling and formatting of
        Web pages. CSS3 incorporates the CSS2 standard with some changes and improvements.
        A key change is the division of standard into separate modules, which makes it easier to learn and understand.
        As of February 2014, the standard is still under development by the World Wide Web Consortium (W3C),
        but a number of the CSS3 properties have been implemented in the latest versions of some Web browsers.
        Some of the major modules of CSS3 are:
        Box model
        Image values and replaced content
        Text effects
        Selectors
        Backgrounds and borders

        Animations
        User interface (UI)
        Multiple column layout
        2D/3D transformations

    </p>
    <hr>
    <h3>JavaScript</h3>
    <p>There are following features of JavaScript:

        All popular web browsers support JavaScript as they provide built-in execution environments.
        JavaScript follows the syntax and structure of the C programming language. Thus, it is a structured programming
        language.
        JavaScript is a weakly typed language, where certain types are implicitly cast (depending on the operation).
        JavaScript is an object-oriented programming language that uses prototypes rather than using classes for
        inheritance.
        It is a light-weighted and interpreted language.
        It is a case-sensitive language.
        JavaScript is supportable in several operating systems including, Windows, macOS, etc.
        It provides good control to the users over the web browsers.

    </p>
    <hr>
    <h3>Bootstrap</h3>
    <p>Bootstrap is the popular HTML, CSS and JavaScript framework for developing a responsive and mobile friendly
        website.
        Bootstrap includes all topics of Bootstrap such as jumbotron, table, button, grid, form, image, alert, wells,
        container, carousel, panels, glyphicon, badges, labels, progress bar, pagination, pager, list group, dropdown,
        collapse,tabs, pills, navbar, inputs, modals, tooltip, popover and scrollspy.
    </p>
    <hr>
    <h3>TypeScript</h3>
    <p>TypeScript is a superset of JavaScript.It is typesafe and supports to the object oriented programming language(OOPs).
        TypeScript extends JavaScript and improves the developer experience. 
        It enables developers to add type safety to their projects. Moreover, TypeScript provides various other features, like interfaces, type aliases, abstract classes, function overloading, tuple, generics,

    </p>


</body>

</html>