<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Component</title>
</head>
<body>
    <div>
        <p>tv works!</p>
        <img class="card-img-top" src="../../assets/images/tv.jpg" alt="card Image Cap">
        <ol>
            <li>Size - 55 Inch</li>
            <li>Resolution- 4K, 3840 x 2160 Pixels</li>
            <li>Refresh Rate- 60 Hz</li>
            <li>Sound- Total Speaker output 20 W</li>
            <li>Connectivity Port - USB Ports -2 & HDMI Ports-4</li>
            <li>Warranty- 1 Year</li>
        </ol>
    </div>
    






    
    
</body>
</html>

