<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice On Pipe directive of Angular 8</title>
</head>
<body>
    <h3>Builds-In Pipes</h3>
    <h5>Date</h5>
<div>
    Simple Date: {{todaysDate}}<br>
    Using Date Pipe:{{todaysDate|date}}<br>
    Using ShortDate Today's Date:{{todaysDate| date:'shortDate'}}<br>
    Using fullDate Today's Date:{{todaysDate| date:'fullDate'}}<br>
    Using mediumDate Today's Date:{{todaysDate| date:'medium'}}<br>
    Using FormattedDate Today's Date:{{todaysDate| date:'dd/m/yyyy'}}<br/>

</div>
<hr>
<h3>Async Pipe</h3>
<div>
    get values {{obser | async}}
</div>

<hr>
<!-- inbuild pipes below are:- -->
<h3>Currency Pipe</h3>
<div>
    <div>Currency Pipe:
        {{price | currency:"INR"}}<br/>
        {{price | currency:"USD"}}<br/>
        {{price | currency:"EURO"}}<br/>
       

    </div>
</div>
<hr>
<h3>Custome Pipe</h3>
<!-- custom pipes below are:- -->
<div>
    {{obj|json}}<br/>
    {{price|count}}
</div>
</body>
</html>

 