.body{
    background-color: maroon;
    color: white;
    font-size: larger;
}
/* .caption{
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    color: black;
    box-shadow: 10px,10px,12px,slateblue;
} */
.table{
    color:white;

}