<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablet</title>
</head>
<body>
    <div class="container">
        <img class="card-img-top" src="../../assets/images/tablet.jpg" alt="card Image Cap">
        <p> And with the right apps the tablet serves as an outlet for your creative impulses. 
            Make music, create art, or edit photos and videos on it. 
            The versatility of the modern tablet ensures you can use it to get some (light) work done on the move. 
            No matter what you want, there’s always the right tablet for you at Croma.</p>
        <ol>
            <li>Samsung Galaxy Tab A7 Lite 8.7 inches, </li>
            <li> Slim Metal Body, Dolby Atmos Sound, </li>
            <li>RAM 3 GB, ROM 32 GB Expandable, Wi-Fi-only Tablets, Silver</li>
        </ol>

    </div>
</body>
</html>






