<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment on Structural Directive</title>
</head>
<body>
<div class="container">
    <button class="btn btn-primary" (click)="onCreateBlock()">Create Block</button>
    <br><br>
    <div *ngIf="isValid">Block has been created and block name is my block</div>
    <!-- <div *ngIf="isValid; else #elseblock">Block has been created and block name is my block</div>
        <ng-template #elseblock>
    <div>No block has been created yet.</div>
</ng-template>  -->
</div> 
<h3>Assignment on Structural Directive</h3>
<div>

</div>



</body>
</html>
