<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <p>washingmachine works!</p>
        <img class="card-img-top" src="../../assets/images/washingmachine.jpg" alt="card Image Cap">
        <ol>Key Features
            <li>8kg, Front Load, Inverter Fully Automatic</li>
            <li>BEE 5 Star Rating</li>
            <li>Ideal for 6-8 Family Size</li>
            <li>17 Wash Programs​</li>
            <li>VarioPerfect Technology, Tumble Wash, Foam Detection System</li>
            <li>36 Months Warranty, 12 Years Motor Warranty</li>
        </ol>

    </div>

</body>
</html>


