<p>product works!</p>
<div>
    <label for="exampleColorInput" class="form-label">Name</label>
<input type="text" class="form-control " >
<h3>
    Fancy display heading
    <small class="text-muted">With faded secondary text</small>
  </h3>
<table class="table">
    <thead class="table-dark">
      <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Quality</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Sugar</td>
        <td>Good</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Tea</td>
        <td>Good</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Milk</td>
        <td>Good</td>
      </tr>
      
    </tbody>
  </table>
</div>
<hr>
<div></div>


