<div class="page-area">
  <h3>Online Products List</h3>
 <div class="row">
  <div class="col-md-8">
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/laptop.jpg" alt="card Image Cap">
      <div class="card-body">
        <h5 class="card-title">Laptop</h5>
        <p class="card-text">Get Best Laptop Prices Online in India. Choose from Ultra-thin Laptop, Gaming Laptop from brands like HP, Dell, Lenovo, Acer, and avail great offers.</p>
        <a routerLink='laptop' class="btn btn-primary">Know More</a>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-8">
    <div class="card">
      <img class="card-img-top" src="../../assets/images/tablet.jpg" alt="card Image Cap">
      <div class="card-body">
        <h5 class="card-title">Tablet</h5>
        <p class="card-text">Tablets are great to have around. 
          It’s a great portable TV screen and a nifty e-reader. 
         </p>
        <a routerLink="tablet" class="btn btn-primary">Know More</a>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-8">
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/tv.jpg" alt="card Image Cap">
      <div class="card-body">
        <h5 class="card-title">TV</h5>
        <p class="card-text">Buy Smart TV's and Home Theater systems on Amazon. 
          Choose from the best brands. Buy now. Top Brands. No Cost EMI Available. Low Prices.
           Great Offers. Huge Selection. Best Deals. Easy & Fast Delivery.</p>
        <a routerLink='tv' class="btn btn-primary">Know More</a>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-8">
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/washingmachine.jpg" alt="card Image Cap">
      <div class="card-img-top" >
        <h5 class="card-title">Washing Machine</h5>
        <p class="card-text">Explore Washing Machines, Refrigerators, ACs & More. Pay on Delivery. 
          No Cost EMI Available. Best Deals. Easy & Fast Delivery. Huge Selection. 
          Low Prices. Top Brands. Great Offers.</p>
        <a routerLink="washingmachine" class="btn btn-primary">Know More</a>
      </div>
</div>
</div>
<div class="col-md-4 border-left" >
<router-outlet></router-outlet>
</div> 
</div>








