<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <p>laptop works!</p>
        <h4 class="h4">Laptop</h4>
        <img src="../../assets/images/laptop.jpg"  class="rounded w-100">
        <ol>
            <li>Rendered size:142 × 195 px</li>
            <li>Rendered aspect ratio:142∶195</li>
            <li>Intrinsic size:166 × 228 px</li>
            <li>Intrinsic aspect ratio:83∶114</li>
            <li>File size:11.0 kB</li>
        </ol>
    </div>

</body>
</html>
