<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Card 1</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="/assets/images/laptop1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button (click)="btnClick()"  class="btn btn-primary">Subscribe</button>
        </div>
    </div>
    <hr>
    <div class="card">
        <div class="card-body text-align-center">
            <ng-container *ngFor="let emp of employee" >
                User Name:<strong>{{emp.username}}</strong>
                User Id:<strong>{{emp.id}}</strong>
                Company Title:<strong>{{emp.title}}</strong>
                Status:<strong>{{emp.status}}</strong><br>

            </ng-container>
        </div>
    </div>
    <div>
        <h2 class="card-title">{{product}}</h2>
    </div>
</body>
</html>
