<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
<!-- <button type="button" class="btn btn-primary">Primary</button>
<input class="btn btn-primary" type="reset" value="Reset"> -->

<!-- <button class="btn btn-danger" (click)="destroy()">Destroy component</button>

<app-binding></app-binding> -->
<!-- <app-server></app-server> -->
<!-- <app-binding></app-binding> -->
<!-- <app-directive></app-directive> -->
<!-- <app-ngswitch></app-ngswitch>  -->
<!-- <app-structural-directive-assignment></app-structural-directive-assignment> -->
<!-- <app-attri></app-attri> -->
<!-- <app-directive [myinputMsg]="uname"></app-directive> -->
<!-- <div *ngFor="let e of emp_obj">
  <app-directive [empinputData]="emp_obj"></app-directive>
</div> -->

<!-- <div *ngFor="let e of EmployeeRecords">
  <app-directive [employee]="e"></app-directive>
</div> -->
<!-- <div *ngFor="let e of EmployeeRecords">
  <app-demo [employee]="e"></app-demo>
</div> -->

<!-- <ul *ngFor="let f of food">
  <li>
    {{f}}
  </li>
</ul>

<div>
  <app-demo (foodevent)="getDataFromChild($event)"></app-demo>
</div> -->

<!-- <select (change)="uid=sid.value" #sid>
  <option selected disabled>No value selected</option>
<option [value]="id" *ngFor="let id of [1,2,3,4]">
{{id}}
</option>
</select> -->

<!-- <div class="row" style="text-align: center;">
  <div class="col-md-12">
    <input type="text" placeholder="enter text" (blur)="handleData($event)"><br><br> 
    <p>Product Name:<input type="text" placeholder="enter product name"[(ngModel)]="name"></p>
    <p>Product Price:<input type="text" placeholder="enter product price"[(ngModel)]="price"></p>
    <button class="btn btn-primary" (click)="updateProduct()">Update Product</button>
    <app-hooks *ngIf="appchildExist" [userid]="uid" [parentData]="data" >
      <h1 #child>This is child content coming from parent component</h1>
    </app-hooks>
  </div>
</div>
<button class="btn btn-danger" (click)="Destroy()">Destroy Component</button> -->

<app-hookparent></app-hookparent>
<!-- <app-dirassign></app-dirassign> -->
<!-- <app-simpleform></app-simpleform> -->
<!-- <app-registrationform></app-registrationform> -->
<!-- <app-templatedrivenform></app-templatedrivenform> -->

<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-reactive-form-assignment></app-reactive-form-assignment> -->
<!-- <app-servicecomp1></app-servicecomp1>
<app-servicecomp2></app-servicecomp2>
<app-comp1></app-comp1><br>
<app-comp2></app-comp2><br>
<app-comp3></app-comp3><br>
<app-comp4></app-comp4> -->

<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-pipepractice></app-pipepractice> -->
<!-- <app-filterpipe></app-filterpipe> -->
<!-- <app-filterpipeassign></app-filterpipeassign> -->
<!-- <app-servicecard1></app-servicecard1>
<app-servicecard2></app-servicecard2> -->


<!-- <header >
  <nav >
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">Home</a></li>
      <li class="nav-item"><a class="nav-link " routerLinkActive="active" routerLink="aboutus/">About Us</a></li>
      <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="contactus/">Contact Us</a></li>
      <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="registrationform/">Registration Form</a></li>
      <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="product/">Product </a></li>
      <li class="nav-item"><a class="nav-link"  routerLinkActive="active " routerLink="gallery/">Gallery </a></li>
      <li class="nav-item"><a class="nav-link"  routerLinkActive="active " routerLink="post/">Post </a></li>
      <li class="nav-item"><a class="nav-link"  routerLinkActive="active " routerLink="orders/">Orders </a></li>
      <li class="nav-item"><a class="nav-link"  routerLinkActive="active " routerLink="add user/">Add User </a></li>
    </ul>
  </nav>
</header>  -->

<!-- <button (click)="DeletePost()">Delete Post</button> -->
<!-- <app-rapidapi></app-rapidapi> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-myContainer></app-myContainer> -->
<!-- <app-binding-data></app-binding-data> -->
<!-- <app-compassign></app-compassign> -->
<!-- <app-bind></app-bind> -->
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-servicecontact></app-servicecontact> -->

 <!-- <router-outlet></router-outlet> -->