<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
    <h3>College Events Photos</h3>
    <img src="..." class="rounded float-start" alt="...">
<img src="..." class="rounded float-end" alt="...">
<hr>
<h3>Departmental Activities</h3>
<img src="..." class="rounded float-start" alt="...">
<img src="..." class="rounded float-end" alt="...">
<hr>
<h3>Sport Held In College Campus</h3>
<img src="..." class="rounded float-start" alt="...">
<img src="..." class="rounded float-end" alt="...">

    
</body>
</html>


