<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
   <div class="row text-left">
    <div class="col-md-12 px-5 py-5">
        <h1>Our Gallery</h1>
    </div>
    <div class="row img-gallery px-5">
        <div class="col-md-3">
            <a class="item" routerLink="1">
                <figure><img src="../../assets/images/banana.jpg" alt=""></figure>
                <h6>Gallery Item1</h6>
            </a>
        </div>
    </div>
   </div>
</body>
</html>


