<h2> We are learning Data binding Concepts One Way Data Binding and Two way Data Binding!</h2>
<h4> 1. String Interpolation 2. Property Binding,3.Event Binding, 4. Banana In a box</h4>
<hr>
<ol>String Interpolation </ol>
<p>My Name is {{name}}</p>
<li> Welcome to Angular App {{name}}</li>
<li>{{" Welcome "+ name}}</li>
<li>The length of name is:{{name.length}}</li>
<li>{{name.toUpperCase()}}</li>
<li>{{greetUser()}}</li>
<li>{{greetUser1()}}</li>
<li>Additin of 2+2={{2+2}}</li>
<li>The roll number is {{Id}}</li>
<li>The server Id is {{serverId}} andstatus is {{getServerStatus()}}</li>
<input type="text" value="Ashish Vasantrao Bhunte" placeholder="Enter Your Name">

<hr>
<ol>Property Binding</ol>
<button [disabled]="!allowNewServer">Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<hr>
<button [disabled]="!allowNewServer">Login</button><hr>
<button [disabled]="!alloNewServer" (click)="onCreateServer()">Add Server</button>
<div>{{serverCreationStatus}}</div>
<!-- <img [src]=imgUrl alt="Image Of TypeScript logo"><hr>
<img [src]=imgUrl1 alt="Image Of TypeScript logo1"> -->
<ol>Event Binding-Cursor,Click ,hover,Keyup,Keypress Event </ol>